doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/style.css')
    title Lesson63 
body 
    h1 #{title.text}
         a(href=`${title.link}`) #{title.linkMessage}    
    if users.length
        each user in users
            .user
                .avatar 
                    img(src=`${user.avatar}`, alt="")
                .name Name: #{user.name}
                .age Age: #{user.age} 
                .status  Status: #{user.status}  
                if isAdmin   
                    .btn            
                        a(href=`/edit/${user._id}`) 
                            button Edit                
                        button(type="button" onclick=`removeUser('${user._id}')`) Delete

             
script.              

    function removeUser(userId) {
        fetch(`/remove/${userId}`, { method: 'DELETE' })
            .then(function(response) {
                if (response.ok) {
                    window.location.reload();
                } else {
                    throw new Error('Network response was not ok');
                }
            }).catch(function(error) {
                console.error('There was an error!', error);
            });
    }


